@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----Main---- */
body {
    font-family: "Zain", serif;
    line-height: 1.7em;
}

a {
    color: #261308;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0px;
    font-size: 24px;
}


/* Utilities */

.container {
    margin: 0;
    overflow: auto;
    padding: 0px 20px;
}

.text-primary {
    color: #ff9900;
    text-shadow: 2px 0px 2px #000000bb;

}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 24px;
    color: white;
    background: #de8705;
    padding: 12px 30px;
    border: solid 3px transparent;
    transition: .5s;
    cursor: pointer;
}

.btn:hover {
    border: dotted 3px #de8705;
    border-style: double;
    background: transparent;
}

.btn-light {
    background: #333;
}

.btn-dark{
    border: solid 3px transparent;

}
.btn-dark:hover {
    border: solid 3px #333;
}

.bg-primary {
    background: #d3a156c2;
}

.bg-dark {
    background: #666;
}

.bg-dark2 {
    background: #555;
}

.bg-light {
    background: #dba14b;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 80px;
}

/* padding */
.py-3 {
    padding: 30px 0px;
}

/* Navbar */
#navbar {
    /* background: #00000081; */
    background-color: #471b01;
    color: white;
    overflow: auto;
}

#navbar a {
    color: #fff;
}

#navbar h1 {
    float: left;
    font-size: 42px;
    padding: 24px 0px;
}

#navbar ul {
    float: right;
    list-style: none;
}

#navbar ul li {
    float: left;
    cursor: pointer;
}

#navbar ul li a {
    font-size: 24px;
    display: block;
    padding: 20px 20px;
    text-align: center;
    border: solid 5px transparent;
    transition: .3s;
}

#navbar ul li a:hover {
    color: #f18343;
    border-bottom: solid 5px #e0570882;
}

.current {
    background-color: #983a0754;
}


/* Showcase */

.showcase-content {
    margin: 0px auto;
    max-width: 1000px;
}


#showcase {
    /* background: url('img/img-1.jpg') no-repeat
    center center/cover; */
    background: url('img/img-1.jpg') no-repeat center center/cover;
    height: 700px;
}

#showcase .showcase-content {
    color: #333;
    text-align: center;
    padding-top: 170px;
}


#showcase .showcase-content h1 {
    font-size: 100px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* Home Info */

#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url('img/img-2.jpg') no-repeat center center/cover;
    min-height: 100%;
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
}

#home-info .info-content h1 {
    font-size: 60px;
}

#home-info .info-content p {
    font-size: 24px;

}

/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 40px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
    font-size: 70px;
    color: wheat;
}

.box h3 {
    font-size: 40px;
}

/* About Page */
.info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

.info-right img {
    width: 30%;
    display: block;
    margin: 10px auto;
    border-radius: 40%;
    filter:brightness(.9);
}

.info-right img:hover {
    filter:brightness(1.2);

}

.info-left {
    margin-top: 30px;
    float: left;
    width: 50%;
}

#about-info .container {
    background-color: rgb(175, 175, 175);
}



/* testimonoals */
#testimonials {
    background: url('https://i.pinimg.com/originals/8d/d7/e9/8dd7e91ae4c73f27054ca0fb43bc80e3.gif') no-repeat center center/cover;
    padding: 100px;
    max-height: 750px;
}



#testimonials  h2{
    color: white;
    margin : 20px 0;
    text-align: center;
}

#testimonials .testimonial {
    background-color: #d3a156da;
    margin: auto;
    width: 75%;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: solid transparent 3px;
    overflow: auto;
    transition: .3s;
}

#testimonials .testimonial:hover {
 transform: scale(1.1);
 background-color: #e2ab5860;
 border: dotted #e2ab58 3px;
}

#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
    filter: brightness(0.8);
    transition: .2s;
}

#testimonials .testimonial img:hover{
    filter: brightness(1.0);
}

/* Contact form */
#contact-form .container{
    background: #666;
    padding: 30px;

}
#contact-form .form-group{
    margin: 20px;
}

#contact-form label{
    display: block;
    margin-bottom: 5px;
}

#contact-form input ,
#contact-form textarea{
    width: 100%;
    padding: 10px;
    border: solid 1px #555;
    background: #bbb;

}

#contact-form input:focus ,
#contact-form textarea:focus{
    outline: none;
    border: solid 1px #dba14b;


}

#contact-form input:hover ,
#contact-form textarea:hover{
    box-shadow: 0px 0px 80px rgba(224, 143, 37, 0.2);

}
#contact-form textarea{
    height: 200px;
}

#contact-form  .container .btn{
    border-radius: 5px;
    margin: 20px 20px;
}

/* Contact info */
#contact-info .container{
    padding: 0px;
}



/* footer */
#main-footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1px;
}